<h1>Bot instance list</h1>
<div class="table-container">
    <tr *ngFor="let botInstance of botInstances">
        <th><button class="element-parameter" (click)="showDashboard(botInstance.instanceId)">{{botInstance.instanceId}}</button></th>
        <th><span class="element-parameter">{{botInstance.symbol}}</span></th>
        <th><span class="element-parameter">{{botInstance.patternId}}</span></th>
        <th><button class="element-parameter">Start</button></th>
        <th><button class="element-parameter">Stop</button></th>
        <th><button class="element-parameter">Delete</button></th>
    </tr>
</div>
