<h1>Bot instance list</h1>
<ul>
    <li *ngFor="let botInstance of botInstances" class="list-element">
        <button class="element-parameter">{{botInstance.instanceId}}</button> 
        <span class="element-parameter">{{botInstance.symbol}}</span>
        <span class="element-parameter">{{botInstance.patternId}}</span>
        <button class="element-parameter">Start</button>
        <button class="element-parameter">Stop</button>
        <button class="element-parameter">Delete</button>
    </li>
</ul>
<button>Add instance</button>
