.container-div {
    margin: 25px;
}

.back-button {
    margin-top: 25px;
    margin-bottom: 25px;
    color: red;
    border-color: red;
}

.add-instance-button {
    color: yellow;
    border-color: yellow;
}