.logs-div {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
}

.log-record {
    width: 200px;
}

.log-elements-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    margin-bottom: 25px;
}

.log-element {
    margin-left: 10px;
    margin-right: 10px;
    display: grid;
    grid-template-columns: auto;
}

.log-button {
    margin-bottom: 10px;
    color: yellow;
    border-color: yellow;
}

input {
    margin-bottom: 10px;
}
