
Data/.ipynb_checkpoints/GenerateDataset-checkpoint.ipynb
DataRetriever/.idea/inspectionProfiles/profiles_settings.xml
DataRetriever/.idea/DataRetriever.iml
DataRetriever/.idea/misc.xml
DataRetriever/.idea/modules.xml
DataRetriever/.idea/workspace.xml
DataRetriever/__pycache__/SymbolList.cpython-38.pyc
Simulator/.idea/inspectionProfiles/profiles_settings.xml
Simulator/.idea/misc.xml
Simulator/.idea/modules.xml
Simulator/.idea/Simulator.iml
Simulator/.idea/workspace.xml
Simulator/DataObjects/__pycache__/__init__.cpython-38.pyc
Simulator/DataObjects/__pycache__/SimulationResult.cpython-38.pyc
Simulator/DataObjects/__pycache__/Summary.cpython-38.pyc
Simulator/Indicators/__pycache__/__init__.cpython-38.pyc
Simulator/Indicators/__pycache__/BoltIndicator.cpython-38.pyc
Simulator/Indicators/__pycache__/Indicator.cpython-38.pyc
Simulator/Indicators/__pycache__/WaveTrendIndicator.cpython-38.pyc
Simulator/Patterns/__pycache__/__init__.cpython-38.pyc
Simulator/Patterns/__pycache__/BoltPattern.cpython-38.pyc
Simulator/Patterns/__pycache__/Pattern.cpython-38.pyc
Simulator/Patterns/__pycache__/WaveTrendPattern.cpython-38.pyc
Simulator/Scripts/__pycache__/BoltIndicatorScript.cpython-38.pyc
Simulator/Scripts/__pycache__/WaveTrendIndicatorScript.cpython-38.pyc
Simulator/Simulators/__pycache__/__init__.cpython-38.pyc
Simulator/Simulators/__pycache__/BoltSimulator.cpython-38.pyc
Simulator/Simulators/__pycache__/Simulator.cpython-38.pyc
Simulator/Simulators/__pycache__/WaveTrendSimulator.cpython-38.pyc
Simulator/Tests/__pycache__/__init__.cpython-38.pyc
Simulator/Tests/__pycache__/BoltIndicatorTest.cpython-38.pyc
Simulator/Tests/__pycache__/BoltPatternTest.cpython-38.pyc
Simulator/Tests/__pycache__/BoltSimulatorTest.cpython-38.pyc
Simulator/Tests/__pycache__/FunctionsTest.cpython-38.pyc
Simulator/Tests/__pycache__/IndicatorTest.cpython-38.pyc
Simulator/Tests/__pycache__/SummarizerTest.cpython-38.pyc
Simulator/Tests/__pycache__/WavesTest.cpython-38.pyc
Simulator/Tests/__pycache__/WaveTrendIndicatorTest.cpython-38.pyc
Simulator/Tests/__pycache__/WaveTrendPatternTest.cpython-38.pyc
Simulator/Tests/__pycache__/WaveTrendSimulatorTest.cpython-38.pyc
Simulator/Tests/Mock/__pycache__/__init__.cpython-38.pyc
Simulator/Tests/Mock/__pycache__/MockWaves.cpython-38.pyc
Simulator/Tests/Util/__pycache__/__init__.cpython-38.pyc
Simulator/Tests/Util/__pycache__/Constants.cpython-38.pyc
Simulator/Util/__pycache__/__init__.cpython-38.pyc
Simulator/Util/__pycache__/Constants.cpython-38.pyc
Simulator/Util/__pycache__/Functions.cpython-38.pyc
Simulator/Util/__pycache__/Summarizer.cpython-38.pyc
Simulator/Util/__pycache__/Waves.cpython-38.pyc
WebApi/.idea/inspectionProfiles/profiles_settings.xml
WebApi/.idea/misc.xml
WebApi/.idea/modules.xml
WebApi/.idea/WebApi.iml
WebApi/.idea/workspace.xml
Analysis/.ipynb_checkpoints/BoltClustering-checkpoint.ipynb
Analysis/.ipynb_checkpoints/ClassificationModel-checkpoint.ipynb
Analysis/.ipynb_checkpoints/generate_dataset-checkpoint.ipynb
Analysis/.ipynb_checkpoints/ModelPreprocessing-checkpoint.ipynb
Analysis/.ipynb_checkpoints/WaveTrendOptimization-checkpoint.ipynb
Data/data.csv
