
*.pyc
Analysis/.ipynb_checkpoints/BoltClustering-checkpoint.ipynb
Analysis/.ipynb_checkpoints/ClassificationModel-checkpoint.ipynb
Analysis/.ipynb_checkpoints/generate_dataset-checkpoint.ipynb
Analysis/.ipynb_checkpoints/ModelPreprocessing-checkpoint.ipynb
Analysis/.ipynb_checkpoints/SummarizeData-checkpoint.ipynb
Analysis/.ipynb_checkpoints/WaveTrendOptimization-checkpoint.ipynb
Analysis/Bolt/.ipynb_checkpoints/Clustering-checkpoint.ipynb
Analysis/WaveTrend/.ipynb_checkpoints/Optimizer-0steps-checkpoint.ipynb
Analysis/WaveTrend/.ipynb_checkpoints/Optimizer-1step-checkpoint.ipynb
Analysis/WaveTrend/.ipynb_checkpoints/Optimizer-2steps-checkpoint.ipynb
Bot/.idea/Bot.iml
Bot/.idea/dictionaries/Roger.xml
Bot/.idea/inspectionProfiles/profiles_settings.xml
Bot/.idea/misc.xml
Bot/.idea/modules.xml
Bot/.idea/vcs.xml
Bot/Domain/Runners/__pycache__/ParametersUpdater.cpython-38.pyc
Data/.ipynb_checkpoints/GenerateDataset-checkpoint.ipynb
Data/data.csv
DataRetriever/.idea/DataRetriever.iml
DataRetriever/.idea/inspectionProfiles/profiles_settings.xml
DataRetriever/.idea/misc.xml
DataRetriever/.idea/modules.xml
DataRetriever/.idea/vcs.xml
DataRetriever/.idea/workspace.xml
Simulator/.idea/inspectionProfiles/profiles_settings.xml
Simulator/.idea/misc.xml
Simulator/.idea/modules.xml
Simulator/.idea/Simulator.iml
Simulator/.idea/vcs.xml
Simulator/.idea/workspace.xml
WebApi/.idea/inspectionProfiles/profiles_settings.xml
WebApi/.idea/misc.xml
WebApi/.idea/modules.xml
WebApi/.idea/WebApi.iml
WebApi/.idea/workspace.xml
Web/src/assets/.gitkeep
Web/.editorconfig
Web/.browserslistrc
Archive/WebApi/.idea/inspectionProfiles/profiles_settings.xml
Archive/WebApi/.idea/workspace.xml
Archive/WebApi/.idea/WebApi.iml
Archive/WebApi/.idea/modules.xml
Archive/WebApi/.idea/misc.xml
Archive/Simulator/.idea/workspace.xml
Archive/Simulator/.idea/vcs.xml
Archive/Simulator/.idea/Simulator.iml
Archive/Simulator/.idea/modules.xml
Archive/Simulator/.idea/misc.xml
Archive/Simulator/.idea/inspectionProfiles/profiles_settings.xml
Archive/DataRetriever/.idea/workspace.xml
Archive/DataRetriever/.idea/vcs.xml
Archive/DataRetriever/.idea/modules.xml
Archive/DataRetriever/.idea/misc.xml
Archive/DataRetriever/.idea/inspectionProfiles/profiles_settings.xml
Archive/DataRetriever/.idea/DataRetriever.iml
