.section-1 {
    display: grid;
    grid-template-columns: auto auto;
}

.detail {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.detail-element {
    width: 200px;
    text-align: left;
}

.trade-list-span {
    margin: 20px;
}
