.section-1 {
    display: flex;
}

.details-div {
    margin-right: 200px;
}

.trades-div {
    margin-left: 200px;
}

.detail {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.detail-element {
    width: 200px;
    text-align: left;
}

.viewport {
    height: 70%;
    width: 750px;
    border: 1px solid;
    margin-right: 25px;
}

.table-element {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}