<h1>Dashboard</h1>
<div class="section-1">
    <div class="details-div">
        <h2>Instance details</h2>
        <div class="detail">
            <div class="detail-element">Instance id:</div>
            <div class="detail-element">{{instanceDetails.instanceId}}</div>
        </div>
        <div class="detail">
            <div class="detail-element">Symbol:</div>
            <div class="detail-element">{{instanceDetails.symbol}}</div>
        </div>
        <div class="detail">
            <div class="detail-element">Creation time:</div>
            <div class="detail-element">{{instanceDetails.creationTime}}</div>
        </div>
        <div class="detail">
            <div class="detail-element">Pattern id:</div>
            <div class="detail-element">{{instanceDetails.patternId}}</div>
        </div>
        <div class="detail">
            <div class="detail-element">Time scale:</div>
            <div class="detail-element">{{instanceDetails.timeScale}}</div>
        </div>
        <div class="detail">
            <div class="detail-element">Budget:</div>
            <div class="detail-element">{{instanceDetails.budget}}</div>
        </div>
        <div class="detail">
            <div class="detail-element">Initial budget:</div>
            <div class="detail-element">{{instanceDetails.initialBudget}}</div>
        </div>
        <div class="detail">
            <div class="detail-element">Clean gains:</div>
            <div class="detail-element">{{instanceDetails.cleanGains}}</div>
        </div>
        <div class="detail">
            <div class="detail-element">Partition size:</div>
            <div class="detail-element">{{instanceDetails.partitionSize}}</div>
        </div>
        <div class="detail">
            <div class="detail-element">Base amount:</div>
            <div class="detail-element">{{instanceDetails.baseAmount}}</div>
        </div>
        <div class="detail">
            <div class="detail-element">Nmbr. partitions:</div>
            <div class="detail-element">{{instanceDetails.nPartitions}}</div>
        </div>
        <div class="detail">
            <div class="detail-element">Partition limit:</div>
            <div class="detail-element">{{instanceDetails.partitionLimit}}</div>
        </div>
    </div>
    <div class="trades-div">
        <h2>Trades list</h2>
        <p>(Time / Operation / Price / Quote amount / Gain)</p>
        <cdk-virtual-scroll-viewport itemSize="1" class="viewport">
            <tr *cdkVirtualFor="let trade of trades" class="viewport-item">
                <th class="table-element">{{trade.time}}</th>
                <th class="table-element">{{trade.operation}}</th>
                <th class="table-element">{{trade.price}}</th>
                <th class="table-element">{{trade.quoteAmount}}</th>
                <th class="table-element">{{trade.gain}}</th>
            </tr>
        </cdk-virtual-scroll-viewport>
    </div>
</div>
<div>
    <h2>Gains chart</h2>
    <app-line-chart></app-line-chart>
</div>
