html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Consolas;
    background-color: black;
    color: lime;
}

button {
    background-color: black;
    color: lime;
    border: 2px solid lime;
    padding: 10px;
}

h1 {
    color:violet;
}

h2 {
    color: violet;
}

input {
    font-size: 16px;
    background-color: black;
    color: lightskyblue;
    border: 2px solid lightskyblue;
}
